@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

body {
	
background: #E0EAFC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.bernoulli-class {
 margin-left: 35px;
	width: 100%;
height: 600px;


}

.main-heading {
    text-align: center;
    font-size: 30px;
 	font-family: 'Questrial', sans-serif;
	color: #023141;
	margin-right: 15px;




}

.start {

	color: #fff;
	font-family: 'Questrial', sans-serif;
	display: inline-block;

	padding: 10px;
	margin: 10px auto;
	cursor: pointer;
	text-align: center;
	font-size: 15px;
	margin-right: 10px;
		
}

.reset {

	color: #fff;
	font-family: 'Questrial', sans-serif;
	display: inline-block;

	padding: 10px;
	margin: 10px auto;
	cursor: pointer;
	text-align: center;
	font-size: 15px;
		margin-right: 10px;

}

.open-button {
 	color: #fff;
	font-family: 'Questrial', sans-serif;
	display: inline-block;

	padding: 10px;
	margin: 10px auto;
	cursor: pointer;
	text-align: center;
	font-size: 15px;
		margin-right: 10px;
}


 .tank-left {
         width: 177px;
         background-color: #00B0EA;
         height: 0px;
         position: absolute;
         left: 256px;
         top: 556px;

        }

 .tank-right {
         width: 177px;
         background-color: #00B0EA;
         height: 0px;
         position: absolute;
         left: 746px;
         top: 556px;

        }

.measure-tank {
	
		width: 228px;
         background-color: #00B0EA;
         height: 0px;
         position: absolute;
         left: 956px;
         top: 655px;
	
}

.vertical-pipe1 {
		 width: 12px;
         background-color: #00B0EA;
         height: 0px;
         position: absolute;
         left: 466px;
         top: 486px;
	
}


.vertical-pipe2 {
		 width: 12px;
         background-color: #00B0EA;
         height: 0px;
         position: absolute;
         left: 536px;
         top: 486px;
	
}

.vertical-pipe3 {
		 width: 12px;
         background-color: #00B0EA;
         height: 0px;
         position: absolute;
         left: 606px;
         top: 486px;
	
}


.vertical-pipe4 {
		 width: 12px;
         background-color: #00B0EA;
         height: 0px;
         position: absolute;
         left: 676px;
         top: 486px;
	
}




* {box-sizing: border-box;}




/* The popup form - hidden by default */
.form-popup {
 
	
	top: 80px;
	bottom: 20px;
	right: 30px;
	
	z-index: 9;
	

	
}
.calc {
background: #283048;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}
/* Add styles to the form container */
.form-container {
  max-width: 100%;

background: #283048;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

color: white;

}

/* Full-width input fields */
.form-container input[type=number] {
  width: 75%;
	padding: 8px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
	
}


.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}


.form-container .btn {
  background-color: #4CAF50;
  color: white;
 
  border: none;
  cursor: pointer;
  width: 40%;
  margin-bottom:10px;
  opacity: 0.8;
	margin-right: 20px;
	padding: 10px;
	
}


.form-container .cancel {
  background-color: steelblue;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}