@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

.body {
	background-color: #DCF4FC;
}

.main-heading {
    text-align: center;
    font-size: 30px;
 	font-family: 'Questrial', sans-serif;
	color: #023141;

}

.start {
	background-color: #023141;
	color: #fff;
	font-family: 'Questrial', sans-serif;
	display: inline-block;
	width: 60px;
	padding: 10px;
	margin: 10px auto;
	cursor: pointer;
	text-align: center;
	font-size: 16px;	
	margin-left: 550px;
	margin-right: 10px
	
}

.reset {
	background-color: #023141;
	color: #fff;
	font-family: 'Questrial', sans-serif;
	display: inline-block;
	width: 60px;
	padding: 10px;
	margin: 10px auto;
	cursor: pointer;
	text-align: center;
	font-size: 16px;


	
}

 .tank-left {
         width: 177px;
         background-color: #00B0EA;
         height: 0px;
         position: absolute;
         left: 229px;
         top: 586px;

        }

 .tank-right {
         width: 177px;
         background-color: #00B0EA;
         height: 0px;
         position: absolute;
         left: 719px;
         top: 586px;

        }

.measure-tank {
	
		width: 228px;
         background-color: #00B0EA;
         height: 0px;
         position: absolute;
         left: 929px;
         top: 684px;
	
}

.vertical-pipe1 {
		 width: 13px;
         background-color: #00B0EA;
         height: 0px;
         position: absolute;
         left: 439px;
         top: 515px;
	
}


.vertical-pipe2 {
		 width: 13px;
         background-color: #00B0EA;
         height: 0px;
         position: absolute;
         left: 509px;
         top: 515px;
	
}

.vertical-pipe3 {
		 width: 13px;
         background-color: #00B0EA;
         height: 0px;
         position: absolute;
         left: 579px;
         top: 515px;
	
}


.vertical-pipe4 {
		 width: 13px;
         background-color: #00B0EA;
         height: 0px;
         position: absolute;
         left: 649px;
         top: 515px;
	
}