h1{
	text-align: center;
	font-size: 60px;
}

#start{
	margin-left: 700px;
	display: inline-block;
	/*padding: 10px;*/
	cursor: pointer;
  	text-align: center;
	font-size: 15px;
}

#reset{
	margin-left: 100px;
	display: inline-block;
	/*padding: 10px;*/
	cursor: pointer;
  	text-align: center;
	font-size: 15px;
}

#calc{
	margin-left: 100px;
	display: inline-block;
	/*padding: 10px;*/
	cursor: pointer;
  	text-align: center;
	font-size: 15px;
}

#container{
	width: 298px;
	background-color: #00B0EA;
	height:100px;
	opacity:0.7;
	position: absolute;
	left: 809px;
	top: 572px;
}

#form input[type=number] {
  width: 15	%;
  padding: 8px;
  margin: 5px 0 22px 0;
  border: 1px;
  background: #C1BDBA;
}

#form{
	margin-left: 300px;	
	font-size: 20px;	
}

h2{
	text-align: center;
	font-size: 50px;
}

#submit{
	margin-left: 700px;
	display: inline-block;
	/*padding: 10px;*/
	cursor: pointer;
  	text-align: center;
	font-size: 15px;
}

#plot{
	margin-left: 100px;
	display: inline-block;
	/*padding: 10px;*/
	cursor: pointer;
  	text-align: center;
	font-size: 15px;
}

#erase{
	margin-left: 100px;
	display: inline-block;
	/*padding: 10px;*/
	cursor: pointer;
  	text-align: center;
	font-size: 15px;
}