body{

    width: 900px;
    height: 600px;
margin: auto;
    border: solid blue;
    border-width: 6px;
    overflow:hidden;
    display:block;
    box-sizing: border-box;
}
#txt1{
	  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 10px;
}

progress {

    -webkit-transform-origin: 0 100%;
    -webkit-transform: rotate(90deg);
    -moz-transform-origin: 0 100%;
    -moz-transform: rotate(90deg);
    -ms-transform-origin: 0 100%;
    -ms-transform: rotate(90deg);
    transform-origin: 0 100%;
    transform: rotate(270deg);    

}
button {
  background: black;
  color: white;
  margin: 5px;
  padding-left: 20px;
padding-right:20px;
padding-top: 10px;
padding-bottom: 10px;
  border-radius: 4px;
  font-family: 'Lato';
  cursor: pointer;
  border: none;
  outline: none;
}

button:hover {
  background: grey;
}




.controls {
  padding-left:800px;
  top:-200px;

}

#myProgress {
  float:left;
  width: 20%;
  height:20px;
  background-color: white;
border: 1px solid #a8a8a8;
    top: 124px;
    left: 150px;
    position: relative;
 
    transform: rotate(270deg); 
}

#myBar {
width:0%;
  height: 20px;
  background-color:#679bef;
}
#myProgress1 {
  width: 20%;
  height:20px;
  background-color: white;
border: 1px solid #a8a8a8;

    top: 162px;
    left: 340px;
    position: relative;
 
    transform: rotate(270deg); 
}

#myBar1 {
width:0%;
  height: 20px;
  background-color:#679bef;
}